.podcast-container {
  display: flex;
  flex-wrap: wrap;
}

.podcast-title {
    background: rgba(19, 8, 45, 0.21);
    padding: 5px 10px;
}

.podcast-entry {
    margin: 0px 5px;
}

.podcast-entry img {
    width: 280px;
}
